.content-inner{
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 356px auto;
    overflow: hidden;
}
.content-inner h1{
    color: #257bb1;
    font-size: 30px;
    margin-bottom: 50px;
}
.inner-left{
    width: 60%;
    float: left;
}
.inner-team{
    margin-bottom: 80px;
}
.inner-team h2{
    color: #333333;
    font-size: 24px;
    margin-bottom: 30px;
}
.inner-team a{
    color: #167af5;
    font-size: 18px;
    line-height: 38px;
}
.inner-file{
    color: #333333;
    font-size: 24px;
}
.info{
    width: 30%;
    margin-left: 10%;
    float: left;
}
.instruct-book li{
    color: #167af5;
    font-size: 18px;
    line-height: 80px;
    border-bottom: solid 1px #999999;
}
.instruct-book li em{
    color: #999999;
    margin: auto 22%;
}
.instruct-book li a{
    color: #797979;
}
.info h2{
    color: #333333;
    font-size: 24px;
    line-height: 66px;
}
.info li a{
    color: #167af5;
    font-size: 18px;
    line-height: 40px;
}