.content-inner{
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 356px auto;
    overflow: hidden;
}
.content-inner h1{
    color: #257bb1;
    font-size: 30px;
    margin-bottom: 50px;
}

.instuc-book li{
    color: #167af5;
    font-size: 18px;
    line-height: 80px;
    border-bottom: solid 1px #999999;
}
.instuc-book li em{
    color: #999999;
    margin: 32%;
}
.instuc-book li a{
    color: #802323d8;
}