body,h1,h2,h3,h4,h5,h6,div,hr,p,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font-family:"microsoft yahei";font-size:14px;}
body{_overflow:auto;_height:100%;margin:0 auto;overflow-x:hidden;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,ol,li,dl,dt,dd{list-style:none;}
img{border:0;vertical-align: middle;}
em{font-style:normal;}
div{display:block;}
button,input,select,textarea{vertical-align:middle;cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none !important;}
.clearfix {*zoom: 1}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear{clear: both;}
.fl{float:left;}
.fr{float:right;}
*{font-family: "Microsoft YaHei", Helvetica, sans-serif;}

